*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(218, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.display{
    width: 100%;
    height: 80px;
    text-align: right;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(10, 14, 237, 0.1),5px 5px 15px rgba(23, 3, 152, 0.2) ;;
    background: transparent;
    font-size: 15px;
    color: #551313;
    cursor: pointer;
    padding: 5px 8px;
}
.calculator{
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(228, 220, 220, 0.1),5px 5px 15px rgba(187, 4, 4, 0.912) ;
}
.btn{
border: none;
padding: 10px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(228, 220, 220, 0.1),5px 5px 15px rgba(187, 4, 4, 0.912) ;
    background:transparent;
    font-size: 20px;
    color: #3800d3;
    cursor: pointer; 
    margin: 10px;
}
.btn2{
    border: none;
padding: 10px;
    outline: 0;
    width: 145px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(228, 220, 220, 0.1),5px 5px 15px rgba(187, 4, 4, 0.912) ;
    background:transparent;
    font-size: 20px;
    color: #3800d3;
    cursor: pointer; 
    margin: 10px;
}

.time{
    color: #10110b;
    font-size: 10px;
}
.timearea{
    margin: 0 270px 0 0;
}

